In [3]:
import pandas as pd


df = pd.read_csv('train.csv')

print(df[ df['Survived'] == 1 ])


sobreviventes = len(df[ df['Survived'] == 1 ])
total = len(df)
print('Porcentagem de sobreviventes: ', (sobreviventes/total)*100, '%')

sobreviventes_classe01 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==1)])
total_classe1 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==1)])
sobreviventes_classe02 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==2)])
total_classe2 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==2)])
sobreviventes_classe03 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==3)])
total_classe3 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==3)])


print('Porcentagem de sobreviventes da classe 1: ', (sobreviventes_classe01/total_classe1)*100, '%')
print('Porcentagem de sobreviventes da classe 2: ', (sobreviventes_classe02/total_classe2)*100, '%')
print('Porcentagem de sobreviventes da classe 3: ', (sobreviventes_classe03/total_classe3)*100, '%')


df = df.dropna(subset=['Embarked',])
print(df[df['Embarked'].isnull()])


df['Sex'] = df['Sex'].map( {'female': 0, 'male': 1} )

df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
print(df)

df['IsAlone'] = (df['FamilySize']<=1)
df['IsAlone'] = df['IsAlone'].map( {True: 1, False: 0} )
print(df)

embarked = pd.get_dummies(df['Embarked']) 
print(embarked)

x = df[['Sex','IsAlone','Embarked', 'Pclass']]
y = df['Survived']

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier



X = pd.get_dummies(x)
x_treino, x_teste, y_treino, y_teste = \
        train_test_split(X, y, test_size = 0.20, random_state = 0 )

modelo = MultinomialNB()


modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)


classificador = RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)

classsificador.fit(x_treino,y_treino)
classificador.score(x_teste,y_teste)

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
15            16         1       2
17            18         1       2
19            20         1       3
21            22         1       2
22            23         1       3
23            24         1       1
25            26         1       3
28            29         1       3
31            32         1       1
32            33         1       3
36            37         1       3
39            40         1       3
43            44         1       2
44            45         1       3
47            48         1       3
52            53         1       1
53            54         1       2
55            56         1       1
56            57         1       2
58            59         1       2
61            62         1       1
65            66         1       3
66            67         1       2
..           ...       ...     ...
809          810         1       1
820          821         1       1
821          822         1       3
823          824         1       3
827          828         1       2
828          829         1       3
829          830         1       1
830          831         1       3
831          832         1       2
835          836         1       1
838          839         1       3
839          840         1       1
842          843         1       1
849          850         1       1
853          854         1       1
855          856         1       3
856          857         1       1
857          858         1       1
858          859         1       3
862          863         1       1
865          866         1       2
866          867         1       2
869          870         1       3
871          872         1       1
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex    Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.00      1
2                               Heikkinen, Miss. Laina  female  26.00      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
11                            Bonnell, Miss. Elizabeth  female  58.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0
17                        Williams, Mr. Charles Eugene    male    NaN      0
19                             Masselmani, Mrs. Fatima  female    NaN      0
21                               Beesley, Mr. Lawrence    male  34.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
23                        Sloper, Mr. William Thompson    male  28.00      0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.00      1
28                       O'Dwyer, Miss. Ellen "Nellie"  female    NaN      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
32                            Glynn, Miss. Mary Agatha  female    NaN      0
36                                    Mamee, Mr. Hanna    male    NaN      0
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
44                       Devaney, Miss. Margaret Delia  female  19.00      0
47                           O'Driscoll, Miss. Bridget  female    NaN      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.00      1
55                                   Woolner, Mr. Hugh    male    NaN      0
56                                   Rugg, Miss. Emily  female  21.00      0
58                        West, Miss. Constance Mirium  female   5.00      1
61                                 Icard, Miss. Amelie  female  38.00      0
65                            Moubarek, Master. Gerios    male    NaN      1
66                        Nye, Mrs. (Elizabeth Ramell)  female  29.00      0
..                                                 ...     ...    ...    ...
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.00      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.00      1
821                                  Lulic, Mr. Nikola    male  27.00      0
823                                 Moor, Mrs. (Beila)  female  27.00      0
827                              Mallet, Master. Andre    male   1.00      0
828                       McCormack, Mr. Thomas Joseph    male    NaN      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.00      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
831                    Richards, Master. George Sibley    male   0.83      1
835                        Compton, Miss. Sara Rebecca  female  39.00      1
838                                    Chip, Mr. Chang    male  32.00      0
839                               Marechal, Mr. Pierre    male    NaN      0
842                            Serepeca, Miss. Augusta  female  30.00      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female    NaN      1
853                          Lines, Miss. Mary Conover  female  16.00      0
855                         Aks, Mrs. Sam (Leah Rosen)  female  18.00      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1
857                             Daly, Mr. Peter Denis     male  51.00      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.00      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.00      0
865                           Bystrom, Mrs. (Karolina)  female  42.00      0
866                       Duran y More, Miss. Asuncion  female  27.00      1
869                    Johnson, Master. Harold Theodor    male   4.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.00      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.00      0
887                       Graham, Miss. Margaret Edith  female  19.00      0
889                              Behr, Mr. Karl Howell    male  26.00      0

     Parch            Ticket      Fare Cabin Embarked
1        0          PC 17599   71.2833   C85        C
2        0  STON/O2. 3101282    7.9250   NaN        S
3        0            113803   53.1000  C123        S
8        2            347742   11.1333   NaN        S
9        0            237736   30.0708   NaN        C
10       1           PP 9549   16.7000    G6        S
11       0            113783   26.5500  C103        S
15       0            248706   16.0000   NaN        S
17       0            244373   13.0000   NaN        S
19       0              2649    7.2250   NaN        C
21       0            248698   13.0000   D56        S
22       0            330923    8.0292   NaN        Q
23       0            113788   35.5000    A6        S
25       5            347077   31.3875   NaN        S
28       0            330959    7.8792   NaN        Q
31       0          PC 17569  146.5208   B78        C
32       0            335677    7.7500   NaN        Q
36       0              2677    7.2292   NaN        C
39       0              2651   11.2417   NaN        C
43       2     SC/Paris 2123   41.5792   NaN        C
44       0            330958    7.8792   NaN        Q
47       0             14311    7.7500   NaN        Q
52       0          PC 17572   76.7292   D33        C
53       0              2926   26.0000   NaN        S
55       0             19947   35.5000   C52        S
56       0        C.A. 31026   10.5000   NaN        S
58       2        C.A. 34651   27.7500   NaN        S
61       0            113572   80.0000   B28      NaN
65       1              2661   15.2458   NaN        C
66       0        C.A. 29395   10.5000   F33        S
..     ...               ...       ...   ...      ...
809      0            113806   53.1000    E8        S
820      1             12749   93.5000   B69        S
821      0            315098    8.6625   NaN        S
823      1            392096   12.4750  E121        S
827      2   S.C./PARIS 2079   37.0042   NaN        C
828      0            367228    7.7500   NaN        Q
829      0            113572   80.0000   B28      NaN
830      0              2659   14.4542   NaN        C
831      1             29106   18.7500   NaN        S
835      1          PC 17756   83.1583   E49        C
838      0              1601   56.4958   NaN        S
839      0             11774   29.7000   C47        C
842      0            113798   31.0000   NaN        C
849      0             17453   89.1042   C92        C
853      1          PC 17592   39.4000   D28        S
855      1            392091    9.3500   NaN        S
856      1             36928  164.8667   NaN        S
857      0            113055   26.5500   E17        S
858      3              2666   19.2583   NaN        C
862      0             17466   25.9292   D17        S
865      0            236852   13.0000   NaN        S
866      0     SC/PARIS 2149   13.8583   NaN        C
869      1            347742   11.1333   NaN        S
871      1             11751   52.5542   D35        S
874      0         P/PP 3381   24.0000   NaN        C
875      0              2667    7.2250   NaN        C
879      1             11767   83.1583   C50        C
880      1            230433   26.0000   NaN        S
887      0            112053   30.0000   B42        S
889      0            111369   30.0000  C148        C

[342 rows x 12 columns]
Porcentagem de sobreviventes:  38.38383838383838 %
Porcentagem de sobreviventes da classe 1:  96.80851063829788 %
Porcentagem de sobreviventes da classe 2:  92.10526315789474 %
Porcentagem de sobreviventes da classe 3:  50.0 %
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
5                                     Moran, Mr. James    1   NaN      0
6                              McCarthy, Mr. Timothy J    1  54.0      0
7                       Palsson, Master. Gosta Leonard    1   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    0  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    0  14.0      1
10                     Sandstrom, Miss. Marguerite Rut    0   4.0      1
11                            Bonnell, Miss. Elizabeth    0  58.0      0
12                      Saundercock, Mr. William Henry    1  20.0      0
13                         Andersson, Mr. Anders Johan    1  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    0  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)     0  55.0      0
16                                Rice, Master. Eugene    1   2.0      4
17                        Williams, Mr. Charles Eugene    1   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    0  31.0      1
19                             Masselmani, Mrs. Fatima    0   NaN      0
20                                Fynney, Mr. Joseph J    1  35.0      0
21                               Beesley, Mr. Lawrence    1  34.0      0
22                         McGowan, Miss. Anna "Annie"    0  15.0      0
23                        Sloper, Mr. William Thompson    1  28.0      0
24                       Palsson, Miss. Torborg Danira    0   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    0  38.0      1
26                             Emir, Mr. Farred Chehab    1   NaN      0
27                      Fortune, Mr. Charles Alexander    1  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"    0   NaN      0
29                                 Todoroff, Mr. Lalio    1   NaN      0
..                                                 ...  ...   ...    ...
861                        Giles, Mr. Frederick Edward    1  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    0  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"    0   NaN      8
864                             Gill, Mr. John William    1  24.0      0
865                           Bystrom, Mrs. (Karolina)    0  42.0      0
866                       Duran y More, Miss. Asuncion    0  27.0      1
867               Roebling, Mr. Washington Augustus II    1  31.0      0
868                        van Melkebeke, Mr. Philemon    1   NaN      0
869                    Johnson, Master. Harold Theodor    1   4.0      1
870                                  Balkic, Mr. Cerin    1  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    0  47.0      1
872                           Carlsson, Mr. Frans Olof    1  33.0      0
873                        Vander Cruyssen, Mr. Victor    1  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)    0  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"    0  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    1  20.0      0
877                               Petroff, Mr. Nedelio    1  19.0      0
878                                 Laleff, Mr. Kristo    1   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    0  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    0  25.0      0
881                                 Markun, Mr. Johann    1  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    0  22.0      0
883                      Banfield, Mr. Frederick James    1  28.0      0
884                             Sutehall, Mr. Henry Jr    1  25.0      0
885               Rice, Mrs. William (Margaret Norton)    0  39.0      0
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   NaN      1
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  FamilySize
0        0         A/5 21171    7.2500          NaN        S           2
1        0          PC 17599   71.2833          C85        C           2
2        0  STON/O2. 3101282    7.9250          NaN        S           1
3        0            113803   53.1000         C123        S           2
4        0            373450    8.0500          NaN        S           1
5        0            330877    8.4583          NaN        Q           1
6        0             17463   51.8625          E46        S           1
7        1            349909   21.0750          NaN        S           5
8        2            347742   11.1333          NaN        S           3
9        0            237736   30.0708          NaN        C           2
10       1           PP 9549   16.7000           G6        S           3
11       0            113783   26.5500         C103        S           1
12       0         A/5. 2151    8.0500          NaN        S           1
13       5            347082   31.2750          NaN        S           7
14       0            350406    7.8542          NaN        S           1
15       0            248706   16.0000          NaN        S           1
16       1            382652   29.1250          NaN        Q           6
17       0            244373   13.0000          NaN        S           1
18       0            345763   18.0000          NaN        S           2
19       0              2649    7.2250          NaN        C           1
20       0            239865   26.0000          NaN        S           1
21       0            248698   13.0000          D56        S           1
22       0            330923    8.0292          NaN        Q           1
23       0            113788   35.5000           A6        S           1
24       1            349909   21.0750          NaN        S           5
25       5            347077   31.3875          NaN        S           7
26       0              2631    7.2250          NaN        C           1
27       2             19950  263.0000  C23 C25 C27        S           6
28       0            330959    7.8792          NaN        Q           1
29       0            349216    7.8958          NaN        S           1
..     ...               ...       ...          ...      ...         ...
861      0             28134   11.5000          NaN        S           2
862      0             17466   25.9292          D17        S           1
863      2          CA. 2343   69.5500          NaN        S          11

NameError: name 'classsificador' is not defined

In [4]:
import pandas as pd


df = pd.read_csv('train.csv')

print(df[ df['Survived'] == 1 ])


sobreviventes = len(df[ df['Survived'] == 1 ])
total = len(df)
print('Porcentagem de sobreviventes: ', (sobreviventes/total)*100, '%')

sobreviventes_classe01 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==1)])
total_classe1 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==1)])
sobreviventes_classe02 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==2)])
total_classe2 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==2)])
sobreviventes_classe03 = len(df[ (df['Survived'] == 1 )& (df['Sex'] ==  "female") & (df["Pclass"]==3)])
total_classe3 = len(df[(df['Sex'] ==  "female") & (df["Pclass"]==3)])


print('Porcentagem de sobreviventes da classe 1: ', (sobreviventes_classe01/total_classe1)*100, '%')
print('Porcentagem de sobreviventes da classe 2: ', (sobreviventes_classe02/total_classe2)*100, '%')
print('Porcentagem de sobreviventes da classe 3: ', (sobreviventes_classe03/total_classe3)*100, '%')


df = df.dropna(subset=['Embarked',])
print(df[df['Embarked'].isnull()])


df['Sex'] = df['Sex'].map( {'female': 0, 'male': 1} )

df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
print(df)

df['IsAlone'] = (df['FamilySize']<=1)
df['IsAlone'] = df['IsAlone'].map( {True: 1, False: 0} )
print(df)

embarked = pd.get_dummies(df['Embarked']) 
print(embarked)

x = df[['Sex','IsAlone','Embarked', 'Pclass']]
y = df['Survived']

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier



X = pd.get_dummies(x)
x_treino, x_teste, y_treino, y_teste = \
        train_test_split(X, y, test_size = 0.20, random_state = 0 )

modelo = MultinomialNB()


modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)


classificador = RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)

classificador.fit(x_treino,y_treino)
classificador.score(x_teste,y_teste)
#

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
15            16         1       2
17            18         1       2
19            20         1       3
21            22         1       2
22            23         1       3
23            24         1       1
25            26         1       3
28            29         1       3
31            32         1       1
32            33         1       3
36            37         1       3
39            40         1       3
43            44         1       2
44            45         1       3
47            48         1       3
52            53         1       1
53            54         1       2
55            56         1       1
56            57         1       2
58            59         1       2
61            62         1       1
65            66         1       3
66            67         1       2
..           ...       ...     ...
809          810         1       1
820          821         1       1
821          822         1       3
823          824         1       3
827          828         1       2
828          829         1       3
829          830         1       1
830          831         1       3
831          832         1       2
835          836         1       1
838          839         1       3
839          840         1       1
842          843         1       1
849          850         1       1
853          854         1       1
855          856         1       3
856          857         1       1
857          858         1       1
858          859         1       3
862          863         1       1
865          866         1       2
866          867         1       2
869          870         1       3
871          872         1       1
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex    Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.00      1
2                               Heikkinen, Miss. Laina  female  26.00      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
11                            Bonnell, Miss. Elizabeth  female  58.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0
17                        Williams, Mr. Charles Eugene    male    NaN      0
19                             Masselmani, Mrs. Fatima  female    NaN      0
21                               Beesley, Mr. Lawrence    male  34.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
23                        Sloper, Mr. William Thompson    male  28.00      0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.00      1
28                       O'Dwyer, Miss. Ellen "Nellie"  female    NaN      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
32                            Glynn, Miss. Mary Agatha  female    NaN      0
36                                    Mamee, Mr. Hanna    male    NaN      0
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
44                       Devaney, Miss. Margaret Delia  female  19.00      0
47                           O'Driscoll, Miss. Bridget  female    NaN      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.00      1
55                                   Woolner, Mr. Hugh    male    NaN      0
56                                   Rugg, Miss. Emily  female  21.00      0
58                        West, Miss. Constance Mirium  female   5.00      1
61                                 Icard, Miss. Amelie  female  38.00      0
65                            Moubarek, Master. Gerios    male    NaN      1
66                        Nye, Mrs. (Elizabeth Ramell)  female  29.00      0
..                                                 ...     ...    ...    ...
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.00      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.00      1
821                                  Lulic, Mr. Nikola    male  27.00      0
823                                 Moor, Mrs. (Beila)  female  27.00      0
827                              Mallet, Master. Andre    male   1.00      0
828                       McCormack, Mr. Thomas Joseph    male    NaN      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.00      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
831                    Richards, Master. George Sibley    male   0.83      1
835                        Compton, Miss. Sara Rebecca  female  39.00      1
838                                    Chip, Mr. Chang    male  32.00      0
839                               Marechal, Mr. Pierre    male    NaN      0
842                            Serepeca, Miss. Augusta  female  30.00      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female    NaN      1
853                          Lines, Miss. Mary Conover  female  16.00      0
855                         Aks, Mrs. Sam (Leah Rosen)  female  18.00      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1
857                             Daly, Mr. Peter Denis     male  51.00      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.00      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.00      0
865                           Bystrom, Mrs. (Karolina)  female  42.00      0
866                       Duran y More, Miss. Asuncion  female  27.00      1
869                    Johnson, Master. Harold Theodor    male   4.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.00      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.00      0
887                       Graham, Miss. Margaret Edith  female  19.00      0
889                              Behr, Mr. Karl Howell    male  26.00      0

     Parch            Ticket      Fare Cabin Embarked
1        0          PC 17599   71.2833   C85        C
2        0  STON/O2. 3101282    7.9250   NaN        S
3        0            113803   53.1000  C123        S
8        2            347742   11.1333   NaN        S
9        0            237736   30.0708   NaN        C
10       1           PP 9549   16.7000    G6        S
11       0            113783   26.5500  C103        S
15       0            248706   16.0000   NaN        S
17       0            244373   13.0000   NaN        S
19       0              2649    7.2250   NaN        C
21       0            248698   13.0000   D56        S
22       0            330923    8.0292   NaN        Q
23       0            113788   35.5000    A6        S
25       5            347077   31.3875   NaN        S
28       0            330959    7.8792   NaN        Q
31       0          PC 17569  146.5208   B78        C
32       0            335677    7.7500   NaN        Q
36       0              2677    7.2292   NaN        C
39       0              2651   11.2417   NaN        C
43       2     SC/Paris 2123   41.5792   NaN        C
44       0            330958    7.8792   NaN        Q
47       0             14311    7.7500   NaN        Q
52       0          PC 17572   76.7292   D33        C
53       0              2926   26.0000   NaN        S
55       0             19947   35.5000   C52        S
56       0        C.A. 31026   10.5000   NaN        S
58       2        C.A. 34651   27.7500   NaN        S
61       0            113572   80.0000   B28      NaN
65       1              2661   15.2458   NaN        C
66       0        C.A. 29395   10.5000   F33        S
..     ...               ...       ...   ...      ...
809      0            113806   53.1000    E8        S
820      1             12749   93.5000   B69        S
821      0            315098    8.6625   NaN        S
823      1            392096   12.4750  E121        S
827      2   S.C./PARIS 2079   37.0042   NaN        C
828      0            367228    7.7500   NaN        Q
829      0            113572   80.0000   B28      NaN
830      0              2659   14.4542   NaN        C
831      1             29106   18.7500   NaN        S
835      1          PC 17756   83.1583   E49        C
838      0              1601   56.4958   NaN        S
839      0             11774   29.7000   C47        C
842      0            113798   31.0000   NaN        C
849      0             17453   89.1042   C92        C
853      1          PC 17592   39.4000   D28        S
855      1            392091    9.3500   NaN        S
856      1             36928  164.8667   NaN        S
857      0            113055   26.5500   E17        S
858      3              2666   19.2583   NaN        C
862      0             17466   25.9292   D17        S
865      0            236852   13.0000   NaN        S
866      0     SC/PARIS 2149   13.8583   NaN        C
869      1            347742   11.1333   NaN        S
871      1             11751   52.5542   D35        S
874      0         P/PP 3381   24.0000   NaN        C
875      0              2667    7.2250   NaN        C
879      1             11767   83.1583   C50        C
880      1            230433   26.0000   NaN        S
887      0            112053   30.0000   B42        S
889      0            111369   30.0000  C148        C

[342 rows x 12 columns]
Porcentagem de sobreviventes:  38.38383838383838 %
Porcentagem de sobreviventes da classe 1:  96.80851063829788 %
Porcentagem de sobreviventes da classe 2:  92.10526315789474 %
Porcentagem de sobreviventes da classe 3:  50.0 %
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
5                                     Moran, Mr. James    1   NaN      0
6                              McCarthy, Mr. Timothy J    1  54.0      0
7                       Palsson, Master. Gosta Leonard    1   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    0  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    0  14.0      1
10                     Sandstrom, Miss. Marguerite Rut    0   4.0      1
11                            Bonnell, Miss. Elizabeth    0  58.0      0
12                      Saundercock, Mr. William Henry    1  20.0      0
13                         Andersson, Mr. Anders Johan    1  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    0  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)     0  55.0      0
16                                Rice, Master. Eugene    1   2.0      4
17                        Williams, Mr. Charles Eugene    1   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    0  31.0      1
19                             Masselmani, Mrs. Fatima    0   NaN      0
20                                Fynney, Mr. Joseph J    1  35.0      0
21                               Beesley, Mr. Lawrence    1  34.0      0
22                         McGowan, Miss. Anna "Annie"    0  15.0      0
23                        Sloper, Mr. William Thompson    1  28.0      0
24                       Palsson, Miss. Torborg Danira    0   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    0  38.0      1
26                             Emir, Mr. Farred Chehab    1   NaN      0
27                      Fortune, Mr. Charles Alexander    1  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"    0   NaN      0
29                                 Todoroff, Mr. Lalio    1   NaN      0
..                                                 ...  ...   ...    ...
861                        Giles, Mr. Frederick Edward    1  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    0  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"    0   NaN      8
864                             Gill, Mr. John William    1  24.0      0
865                           Bystrom, Mrs. (Karolina)    0  42.0      0
866                       Duran y More, Miss. Asuncion    0  27.0      1
867               Roebling, Mr. Washington Augustus II    1  31.0      0
868                        van Melkebeke, Mr. Philemon    1   NaN      0
869                    Johnson, Master. Harold Theodor    1   4.0      1
870                                  Balkic, Mr. Cerin    1  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    0  47.0      1
872                           Carlsson, Mr. Frans Olof    1  33.0      0
873                        Vander Cruyssen, Mr. Victor    1  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)    0  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"    0  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    1  20.0      0
877                               Petroff, Mr. Nedelio    1  19.0      0
878                                 Laleff, Mr. Kristo    1   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    0  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    0  25.0      0
881                                 Markun, Mr. Johann    1  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    0  22.0      0
883                      Banfield, Mr. Frederick James    1  28.0      0
884                             Sutehall, Mr. Henry Jr    1  25.0      0
885               Rice, Mrs. William (Margaret Norton)    0  39.0      0
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   NaN      1
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  FamilySize
0        0         A/5 21171    7.2500          NaN        S           2
1        0          PC 17599   71.2833          C85        C           2
2        0  STON/O2. 3101282    7.9250          NaN        S           1
3        0            113803   53.1000         C123        S           2
4        0            373450    8.0500          NaN        S           1
5        0            330877    8.4583          NaN        Q           1
6        0             17463   51.8625          E46        S           1
7        1            349909   21.0750          NaN        S           5
8        2            347742   11.1333          NaN        S           3
9        0            237736   30.0708          NaN        C           2
10       1           PP 9549   16.7000           G6        S           3
11       0            113783   26.5500         C103        S           1
12       0         A/5. 2151    8.0500          NaN        S           1
13       5            347082   31.2750          NaN        S           7
14       0            350406    7.8542          NaN        S           1
15       0            248706   16.0000          NaN        S           1
16       1            382652   29.1250          NaN        Q           6
17       0            244373   13.0000          NaN        S           1
18       0            345763   18.0000          NaN        S           2
19       0              2649    7.2250          NaN        C           1
20       0            239865   26.0000          NaN        S           1
21       0            248698   13.0000          D56        S           1
22       0            330923    8.0292          NaN        Q           1
23       0            113788   35.5000           A6        S           1
24       1            349909   21.0750          NaN        S           5
25       5            347077   31.3875          NaN        S           7
26       0              2631    7.2250          NaN        C           1
27       2             19950  263.0000  C23 C25 C27        S           6
28       0            330959    7.8792          NaN        Q           1
29       0            349216    7.8958          NaN        S           1
..     ...               ...       ...          ...      ...         ...
861      0             28134   11.5000          NaN        S           2
862      0             17466   25.9292          D17        S           1
863      2          CA. 2343   69.5500          NaN        S          11

0.7415730337078652

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier



X = pd.get_dummies(x)
x_treino, x_teste, y_treino, y_teste = \
        train_test_split(X, y, test_size = 0.20, random_state = 0 )

modelo = MultinomialNB()


modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)


classificador = RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)

classificador.fit(x_treino,y_treino)
classificador.score(x_teste,y_teste)

0.7415730337078652

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier



X = pd.get_dummies(x)
x_treino, x_teste, y_treino, y_teste = \
        train_test_split(X, y, test_size = 0.20, random_state = 0 )

modelo = MultinomialNB()


modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)

0.6404494382022472

In [7]:
classificador = RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)

classificador.fit(x_treino,y_treino)
classificador.score(x_teste,y_teste)

0.7415730337078652

In [8]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

gausiNb = GaussianNB()

gausiNb.fit(x_treino,y_treino)
gausiNb.score(x_teste,y_teste)

0.702247191011236

In [10]:
from sklearn.tree import DecisionTreeClassifier

adaBoost =  AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=200)

adaBoost.fit(x_treino,y_treino)
adaBoost.score(x_teste,y_teste)

0.7078651685393258

In [11]:
print(confusion_matrix(y_teste,classificador.predict(x_teste)))
print(confusion_matrix(y_teste,gausiNb.predict(x_teste)))
print(confusion_matrix(y_teste,adaBoost.predict(x_teste)))

[[95 10]
 [36 37]]
[[79 26]
 [27 46]]
[[80 25]
 [27 46]]